@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all .30s ease;
}
:root{
    --color-0: #f4694c;
    --color-1: #ffffff;
    --color-2: #fde1db;
    --color-3: #000308;
    --color-4: #000000;
    --color-5: #908f90;
}

/* ** section 1 navabar and hero-section ** */
.section-1{
    background: url('./Assets/Photos/futuristic-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 24px 8%;
   width: 100%;
   position: relative;
}
.logo-list{
    display: flex;
    gap: 80px;
}
.logo-list .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    display: flex;
    align-items: center;
}
.logo img{
    width: 120px;
    transform: scale(1);
}
.logo-list ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
    gap: 40px;
    list-style: none;
    color: var(--color-1);
}
.list .list1 button{
    display: none;
}
.logo-list ul li a{
   color: #ffffff;
   text-decoration: none;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.section-1 .buttons .secondary-btn{
    padding: 8px 20px;
    background-color: var(--color-0);
    border: 1px solid var(--color-0);
    color: #ffffff;
}
.section-1 .buttons .primary-btn{
    background-color: transparent;
    padding: 8px 20px;
    color: #ffffff;
    border: 1px solid transparent;
    cursor: pointer;
}
.buttons .primary-btn:hover{
    border: 1px solid var(--color-0);
    cursor: pointer;
}
.buttons .secondary-btn:hover{
    background-color: transparent;
    cursor: pointer;
}
#lists1 .primary-btn{
    background-color: transparent;
    padding: 8px 20px;
    color: #ffffff;
    border: 1px solid var(--color-0) ;
    cursor: pointer; 
}
#lists1 .primary-btn:hover{
    border: 1px solid var(--color-0);
}
#lists1 .secondary-btn{
    padding: 8px 20px;
    background-color: var(--color-0);
    border: 1px solid var(--color-0);
    color: #ffffff;
}
#lists1 .secondary-btn:hover{
    background-color: transparent;
    cursor: pointer;
}
.hamburger #bar1{
   transform: translateY(-4px); 
}
.hamburger #bar3{
    transform: translateY(4px);
}
.hamburger .bar{
    background-color: var(--color-0);
    width: 25px;
    height: 2px;
}
.icon #bar1{
    transform: translateY(2px) rotate(-45deg);
}
.icon #bar2{
    opacity: 0;
}
.icon #bar3{
    transform: translateY(-2px) rotate(45deg);
}

/* herosection */
.herosection{
    display: flex;
    justify-content: space-between;
    padding: 40px 8%;
    width: 100%;
}
.left{
    flex: 6;
}
.left .boldpara{
    font-size: 1.5rem;
    color: var(--color-1);
}
.left .lightpara{
    color: var(--color-5);
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 40px;
}
.btn{
    display: flex;
    gap: 15px;
    margin-top: 40px;
    margin-bottom: 60px;
}
.btn .primary-button{
    border: 1px solid var(--color-0);
    background-color: var(--color-0);
    padding: 2% 5%;
    color: #ffffff;
    font-size: 700;
}
.btn .secondary-button{
    border: 1px solid var(--color-1);
    background-color: transparent;
    padding: 2% 5%;
    color: #ffffff;
    font-size: 600;
}
.btn .primary-button:hover{
    border: 1px solid var(--color-1);
    background-color: transparent;
    cursor: pointer;
}
.btn .secondary-button:hover{
    border: 1px solid var(--color-0);
    background-color: var(--color-0);
    cursor: pointer;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 4;
}
.paragraph{
    display: flex;
}
.right .play-btn{
    position: relative;
    top: 30%;
}
.right .play-btn:hover{
    cursor: pointer;
}
.click img{
    transform: scale(0.8);
    transition: all 0.5 ease;
}

.paragraph .left-arrow{
    width: 45px;
    height: 1.5px;
    background-color: #ffffff;
    transform: translateY(18px);
    margin-right: 5px;
}
.paragraph div:nth-child(3){
    align-self: flex-end;
}
.paragraph div p{
    color: var(--color-1);
    font-size: 1.4rem;
}

/* most popular game section */
.popular-fight{
    padding: 22px 8%;
}
.games{
    height: 260px;
}
.popular-fight .games .game-1{
    display: flex;
    align-items: flex-end;
    background: url('./Assets/Photos/image\ 2.png');
    background-repeat: no-repeat;
    background-size: 380px 100%;
    background-position: right center;

}
div.game-1 .review01{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.games .game-1 div button{
    background-color: #f4694c;
    color: #ffffff;
    border: 1px solid #f4694c;
    padding: 5px 8px;
}
.games .game-1 .head h4{
  font-size: 0.9rem;
  color: #ffffff;
}
.games .game-1 .head{
    color: #ffffff;
    font-size: 0.9rem;
  }
.popular-fight .games .game-2{
    display: flex;
    align-items: flex-end;
    background: url('./Assets/Photos/image\ 4.png');
    background-repeat: no-repeat;
    background-size: 400px 100%;
    background-position: center center;
}
div.game-2 .review02{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.games .game-2 div button{
    background-color: #f4694c;
    color: #ffffff;
    border: 1px solid #f4694c;
    padding: 5px 8px;
}
.games .game-2 .head{
    color: #ffffff;
    font-size: 0.9rem;
  }
.popular-fight .games .game-3{
    display: flex;
    align-items: flex-end;
    background: url('./Assets/Photos/image\ 3.png');
    background-repeat: no-repeat;
    background-size: 400px 100%;
    background-position: center center;
}
div.game-3 .review03{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.games .game-3 div button{
    background-color: #f4694c;
    color: #ffffff;
    border: 1px solid #f4694c;
    padding: 5px 8px;
}
.games .game-3 .head{
    color: #ffffff;
    font-size: 0.9rem;
  }
.popular-fight .games .game-4{
    display: flex;
    align-items: flex-end;
    background: url('./Assets/Photos/Rectangle\ 56.png');
    background-repeat: no-repeat;
    background-size: 400px 100%;
    background-position: center center;
}
div.game-4 .review04{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.games .game-4 div button{
    background-color: #f4694c;
    color: #ffffff;
    border: 1px solid #f4694c;
    padding: 5px 8px;
}
.games .game-4 .head{
    color: #ffffff;
    font-size: 0.9rem;
  }
.popular-fight .games{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

/* Media Queries */
@media (max-width:910px){
    .logo-list{
        gap: 40px;
    }
    .logo-list ul{
        gap: 25px;
    }
    .navbar{
        padding: 24px 6%;
     }
     .herosection{
        padding: 24px 6% ;
     }
}
@media (max-width:768px){
    .logo-list{
        gap: 30px;
    }
    .navbar{
        padding: 24px 4%;
     }
}
@media (max-width:723px){
    .logo-list ul{
        font-size: 0.8rem;
        gap: 20px;
    } 
    .logo img{
        width: 100px;
    }
}
@media (min-width:650px){
    .hamburger{
        display: none;
    }
}
@media (max-width:650px){
    .list{
        display: none;
    }
    .buttons button{
        display: none;
    }
    
    .list{
        position: absolute;
        display: none;
        top: 100%;
        right: 2%;
        opacity: 0;
        transition: 0;
        background:var(--color-3);
        backdrop-filter: blur(20px);
        width: 50vw;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .wave{
        display: block;
        opacity: 1;
        transition: all 1s ease;
        z-index: 5;
    }
    .list .list1 button{
        display: block;
    }
    .list .list1{
        flex-direction: column;
        gap: 10px;
    }
}
@media (max-width:1001px){
    .herosection .boldpara{
        font-size: 1.1rem;
    }
    .herosection .lightpara{
        font-size: 0.8rem;
    }
}
@media (max-width:963px){
    .paragraph div p{
        color: var(--color-1);
        font-size: 1.1rem;
    } 
}
@media (max-width:793px){
    .paragraph div p{
        color: var(--color-1);
        font-size: 1rem;
    } 
}
@media(max-width:759px){
    .herosection{
      flex-direction: column;
      padding: 24px 4% ;
    }
    
}
@media(max-width:480px){
    .herosection .boldpara{
        font-size: 1rem;
    }
    .herosection .lightpara{
        font-size: 0.8rem;
    } 
}
@media(max-width:443px){
    .herosection .boldpara{
        font-size: 0.9rem;
    }
    .herosection .lightpara{
        font-size: 0.7rem;
        font-weight: 700;
    } 
}
@media(max-width:387px){
    .herosection .boldpara{
        font-size: 0.8rem;
    }
    .herosection .lightpara{
        font-size: 0.6rem;
        font-weight: 700;
    } 
}

